{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <div class="entry_container">
    <article class="archive__item entry_text_wrapper" itemscope itemtype="https://schema.org/CreativeWork">
      <h2 class="archive__item-title no_toc" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        <hr class="header-underline">
      </h2>
      <p class="archive__item-excerpt">
        {{ post.description | markdownify | strip_html }}
      </p>
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify |
        strip_html | truncate: 160 }}</p>{% endif %}
    </article>
    <div class="entry_image_wrapper">
      <a href="{{ post.url | relative_url }}" rel="permalink">
        <img src="{{ post.header_image }}" alt="{{ post.title }}" class="entry__image">
      </a>
    </div>
  </div>
</div>