<div class="author__urls-wrapper">
  <h2>CONTACT</h2>
  <ul class="author__urls social-icons">

    <li>
      <a href="mailto:christelmadsen@gmail.com" rel="me" class="u-email">
        <meta itemprop="email" content="christelmadsen@gmail.com" />
        <span class="label">christelmadsen@gmail.com</span>
      </a>
    </li>

    <li>
      <a href="tel:+4528746839" rel="me">
        <span class="label">+45 28 74 68 39</span>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/christel-astrup-madsen-b29a14a2" rel="nofollow noopener noreferrer me">
        <span class="label">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>