{% assign number = include.number | minus: 1 %}
{% assign carousel_id = include.number | plus: 1 %} <!-- If include.number is not defined, meant that number = -1 which then makes variable naming funky -->
{% assign counter = 1 %}

<div id="picture_carousel{{ carousel_id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#picture_carousel{{ carousel_id }}" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        {% for item in page.carousels[number].images offset:1 %}
        <button type="button" data-bs-target="#picture_carousel{{ carousel_id }}" data-bs-slide-to="{{ counter }}" aria-label="Slide {{ counter | plus: 1 }}"></button>
        {% assign counter = counter | plus: 1 %}
        {% endfor %}
    </div> -->
    <div class="carousel-inner">
        <!-- The first item needs to also have the "active" style applied which is why it is split out -->
        <div class="carousel-item active">
            <img src="{{ page.carousels[number].images[0].image }}" class="d-block w-100"
                alt="{{ page.carousels[number].images[0].image }}">
        </div>
        <!-- We then offset the array to not include the first one this time -->
        {% for item in page.carousels[number].images offset:1 %}
        <div class="carousel-item">
            <img src="{{ item.image }}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#picture_carousel{{ carousel_id }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#picture_carousel{{ carousel_id }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>