.about-cv-container {
    padding: 20px;

    @include breakpoint($large) {
        @include flexbox();
        flex-flow: row nowrap;
        justify-content: space-between;
        // margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }
}

.about-cv-contact-info {
    display: none;

    @include breakpoint($large) {
        display: block;
        bottom: 0;
        margin-top: 50px;
    }
}

.about-cv-item {
    margin: 20px;
    margin-top: 0;

    @include breakpoint($large) {
        @include flex(1 1 0);
        // margin: 0 80px;
        max-width: 500px;
        height: 100%;

        h2 {
            margin-top: 0;
        }
    }
}

.cv-item-text {
    font-size: $type-size-6;
}

.about-cv-sidebar {
    @include breakpoint($large) {
        @include flexbox();
        flex-flow: column nowrap;
        justify-content: space-between;
        // margin: 0 20px 50px 20px;
        max-width: 300px;
        font-size: 14px;
        text-align: justify;
        
        margin-right: 120px;
    }
}

.about-cv-sidebar-item {
    @include breakpoint($large) {
        @include flex(1 1 0);
    }
}

.about-cv-profile-picture {
    display: block;
    margin: 0 auto 25px 0px;
    width: 100%;
    max-width: 300px;
}

.cv-table {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    // font-size: $type-size-6; 
    border-collapse: collapse;
    overflow-x: auto;

    &+table {
        margin-top: 1em;
    }

    td {
        vertical-align: top;
        padding: 0.5em;
    }
}

.cv-date-cell {
    white-space: nowrap;
}

.cv-date-cell-period {
    font-size: .75em;
}