.about-cv-container {
    padding: 20px;
}

.about-cv-contact-info {
    display: none;
}

.about-cv-item {
    margin: 20px;
}

.cv-item-text {
    font-size: $type-size-6;
}

@include breakpoint($large) {
    .about-cv-container {
        @include flexbox();
        flex-flow: row nowrap;
        justify-content: space-between;
        // margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }

    .about-cv-item {
        @include flex(1 1 0);
        // margin: 0 80px;
        max-width: 500px;
    }

    .about-cv-sidebar {
        @include flexbox();
        flex-flow: column nowrap;
        justify-content: space-between;
        // margin: 0 auto;
        padding: 0 20px;
        // width: 100%;
        max-width: 350px;
        height: 100vh;
    }

    .about-cv-sidebar-item {
        @include flex(1 1 0);
        // margin: 0 80px;
        // max-width: 450px;
    }

    .about-cv-contact-info {
        display: block;
        bottom: 0;
    }
}

.cv-table {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    // font-size: $type-size-6; 
    border-collapse: collapse;
    overflow-x: auto;

    &+table {
        margin-top: 1em;
    }

    td {
        vertical-align: top;
        padding: 0.5em;
    }
}

.cv-date-cell {
    white-space: nowrap;
}