---
layout: default
---

<div id="main" role="main">

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="page-item page-carousel" id="image_carousel"> {% include carousel.html %}
    </div>
    <div class="page-item">
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
      <div class="page__inner-wrap">
        <header>
          <h1 id="page-title" class="page__title p-name" itemprop="headline" style="width: fit-content;">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">
              {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
            </a>
            <hr class="header-underline">
          </h1>
        </header>

        <section class="page__content e-content" itemprop="text">
          {{ content }}
        </section>
      </div>
    </div>
  </article>
  {% include author-profile.html %}
</div>