/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    // padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    // padding-right: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;
  vertical-align: top;

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $global-font-family;
  font-size: $type-size-5;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  width: fit-content;

  a {
    text-decoration: none;
  }

  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

  }

  a+a {
    opacity: 0.5;
  }

  margin-top: 0;
}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  display: none;
}

@include breakpoint($medium) {
  .archive__item-excerpt {
    margin-top: 0;
    font-size: $type-size-6;
    display: block;

    &+p {
      text-indent: 0;
    }

    a {
      position: relative;
    }
  }
}

.entry_container {
  @include flexbox();
  flex-direction: column;
  align-items: center;

  @include breakpoint($medium) {
    @include flexbox();
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px;
  }
}

.entry_text_wrapper {
  @include flex(1);
  margin: 0.5em 1em 5em 1em;
  order: 2;
  text-align: center;

  @include breakpoint($medium) {
    text-align: left;
    @include flex(1);
    max-width: 400px;
    margin: 0 1em;
    order: 0; //reset back to default order
  }
}

.entry_image_wrapper {
  @include flex(1);
  margin: 1em 1em;
  order: 1;

  @include breakpoint($medium) {
    @include flex(1);
    right: 0;
    margin: 0 1em;
    order: 0; //reset back to default order
  }
}

.entry__image {
  width: 100%;
  max-width: 624px;
  max-height: 1024px;
  height: auto;
}