/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  position: relative;
  @include clearfix();

  @include breakpoint($large) {
    // TODO figure out what all this in here does
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);

    &.sticky {
      overflow-y: auto;
      /* calculate height of nav list
         viewport height - nav height - masthead x-padding
      */
      min-height: calc(100vh - #{$nav-height} - 30em);
    }
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} - 1em);
  }

  >* {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $global-font-family;
    font-weight: 700;
  }

  p,
  li {
    font-family: $global-font-family;
    font-size: $type-size-6;
    line-height: 1.5;
  }
}

.author__urls-wrapper {
  position: relative;
  font-family: $global-font-family;
}

.author__urls {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  white-space: nowrap;
}

.author__urls a {
  display: block;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: inherit;
  font-size: $type-size-5;
  text-decoration: none;
  line-height: 1;

  &:hover {
    text-decoration: underline;
  }
}

.sidebar__content__wrapper {
  height: 100%;
  position: relative;
}

.sidebar__content {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.sidebar_fionn {
  display: none;
}

@include breakpoint($large) {
  .sidebar_fionn {
    display: block;
    position: sticky;
    top: 0;
    /* Set the height of your sidebar to 100% of viewport height */
    height: calc(100vh - #{$nav-height} - 5em);
  }
}

.sidebar_content_fionn {
  position: absolute;
  bottom: 0;
  /* Set the width of your info div */
  // width: 100%;
}